


<nav class="social">
  <ul>
    <li><a target="_blank" href="https://twitter.com/ErincEmer">Twitter <i class="fa fa-twitter"></i></a></li>
    <li><a target="_blank" href="https://github.com/erinc35">Github <i class="fa fa-github"></i></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/erincemer">Linkedin <i class="fa fa-linkedin"></i></a></li>
    <li><a target="_blank" href="https://www.instagram.com/erinc_emer/">Instagram <i class="fa fa-instagram"></i></a></li>

  </ul>
</nav>
<div id="top" class="snow">

  <div id="fade" class="greeting">
    <p class="intro-p">HELLO, I'M <span class="name"> ERINÇ EMER</span>. <br/><br/>I SOLVE PROBLEMS IN <br/><br/>ELEGANT WAYS.
    </p>

  </div>
  <div class="arrow bounce"></div>
</div>
<nav id="navbar">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active" id="intro-nav"><a style="color:white;" href="#top">INTRO</a></li>
      <li ><a style="color:white;" class="deneme" id="education-nav" href="#education">EDUCATION</a></li>
      <li id="projects-nav"><a style="color:white;" href="#portfolio">PROJECTS</a></li>
      <li id="contact-nav"><a style="color:white;" href="#contact">CONTACT</a></li>
      <li id="resume-nav"><a style="color:white;" href="#resume" >RESUME</a></li>
    </ul>
  </div>
</nav>
<div class="who"></div>
<div>

  <img class="mypic" src="../../assets/pic.png">
  <h3 class="home-h1">Who am I?</h3><br>
  <h4 class="obj">I came to the Bay Area in 2007 to pursue my Bachelor’s Degree in Business. I always thought I would return to Turkey to work for my father in his olive oil company. But four years later, I found myself working at a smog check business in the Bay Area as a technician. Soon enough, I realized I could run the business by myself, so I bought a smog check facility for $50,000 and ran it with a partner. During this period, I also fell in love with a Salvadorian and forgot about returning to Turkey altogether. In 2013 my partner and I sold the smog check business gaining a 1000% profit and used some of the money to open a car dealership.<br><br>

After three years, I was ready for my next challenge. Business came naturally, but I wanted to learn a new skillset. At first, I thought about using my accounting degree, but a friend of mine helped me realized that I love creating beautiful, useful, and practical things, and that coding could help me achieve this. on my own.<br><br>

So, I started learning coding on my own. <br><br>

I found the online tutorials engaging and fun, and they inspired me to enroll full-time at Dev Bootcamp. There I spent total of 21 weeks intensive Web Development program, focusing on learning the Ruby and Javascript languages, various frameworks around those languages, and CS fundamentals. In addition to the projects and over 1000 hours of coding & pair programming, my team won a second place at a food hackathon in San Francisco.<br><br>

Lastly, I’m hoping to combine my business acumen, coding experience and diverse background into software development that channels my passion for finding cost-effective, efficient solutions, whether that’s in the olive oil business or not.<br><br>

  </h4>

</div>
<div class="parallax"></div>
<div class="contact">
  <div class="wrapper">
    <div class="main-wrapper">
      <h2 class="section-title"><i></i>Education</h2>
      <section id="education" class="section experiences-section">

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h2 class="job-title">Dev Bootcamp</h2>
              <div class="time">2016</div>
            </div><!--//upper-row-->
            <div class="company">Web Developing</div>
          </div><!--//meta-->
          <div class="details">

          </div><!--//details-->
        </div><!--//item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h2 class="job-title">San Francisco State University</h2>
              <div class="time">2014</div>
            </div><!--//upper-row-->
            <div class="company">BS - Accounting</div>
          </div><!--//meta-->
          <div class="details">

          </div><!--//details-->
        </div><!--//item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h2 class="job-title">City College of San Francisco</h2>
              <div class="time">2012</div>
            </div><!--//upper-row-->
            <div class="company">Business Administration</div>
          </div><!--//meta-->
          <div class="details">

          </div><!--//details-->
        </div><!--//item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h2 class="job-title">Anadolu University</h2>
              <div class="time">2008</div>
            </div><!--//upper-row-->
            <div class="company">Business Administration</div>
          </div><!--//meta-->
          <div class="details">

          </div><!--//details-->
        </div><!--//item-->

      </section><!--//section-->
    </div>
  </div>
  <div class="parallax"></div>
  <div class="contact">
    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <p class="dudit-project">PROJECTS</p>
            <hr class="small">
            <div class="row">
              <div class="col-md-6">
                <div id="labhub" class="portfolio-item">
                  <a href="https://labhub-2016.herokuapp.com/" target="_blank" class="hvr-grow-shadow">
                    <img class="img-portfolio img-responsiv" src="../assets/labhub.png">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="http://guideme-2016.herokuapp.com/" target="_blank" class="hvr-grow-shadow">
                    <img class="img-portfolio img-responsiv" src="../assets/guideme.png">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="http://veggiemongrow2016.herokuapp.com/" target="_blank" class="hvr-grow-shadow">
                    <img class="img-portfolio img-responsiv" src="../assets/veggiemon.png">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="#" class="hvr-grow-shadow">
                    <img class="img-portfolio img-responsiv" src="../assets/portfolio.png">
                  </a>
                </div>
              </div>

            </div>
            <!-- /.row (nested) -->

          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <button class="resume-download" id="resume" type="submit" onclick="window.open('../assets/resume.pdf')">download resume</button>
  </div>
  <!-- <div class="parallax"></div>
  <div class="contact"></div> -->
  <h1>SKILLS&STACK</h1>
  <p>Ruby, Ajax</p>
  <div class="row">
    <div class="col-md-6">
      <div id="labhub" class="portfolio-item">
        <a href="https://labhub-2016.herokuapp.com/" target="_blank" class="hvr-grow-shadow">
          <img class="img-portfolio img-responsiv" src="../assets/labhub.png">
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="http://guideme-2016.herokuapp.com/" target="_blank" class="hvr-grow-shadow">
          <img class="img-portfolio img-responsiv" src="../assets/guideme.png">
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="http://veggiemongrow2016.herokuapp.com/" target="_blank" class="hvr-grow-shadow">
          <img class="img-portfolio img-responsiv" src="../assets/veggiemon.png">
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="#" class="hvr-grow-shadow">
          <img class="img-portfolio img-responsiv" src="../assets/portfolio.png">
        </a>
      </div>
    </div>

  </div>
  <!-- /.row (nested) -->
  <div class="parallax"></div>
  <div class="contact" id="contact">
    <section id="hire">
      <p class="section-h1">LET'S COMMUNICATE!</p>

      <form action="mailto:erincemer@gmail.com" method="post" enctype="text/plain">
        <div class="field name-box">
          <input type="text" id="name" placeholder="Who Are You?"/>
          <label for="name">Name</label>
          <span class="ss-icon">check</span>
        </div>

        <div class="field email-box">
          <input type="text" id="email" placeholder="name@email.com"/>
          <label for="email">Email</label>
          <span class="ss-icon">check</span>
        </div>

        <div class="field msg-box">
          <textarea id="msg" class="buu" rows="4" placeholder="Your message goes here..."/></textarea>
          <label for="msg">Message</label>
          <span class="ss-icon">check</span>
        </div>

        <input class="button" type="submit" value="Send" />
      </form>
    </section>
  </div>
  <div class="parallax"></div>


